
*.iml
*.xml
*.cmake
*.out
*.txt
*.bin
*.cxx
*.log
*.check_cache
*.includecache
*.make
*.o
cmake-build-debug/CMakeFiles/Makefile2
*.internal
cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.cbp
cmake-build-debug/Makefile
cmake-build-debug/HW1
*.marks
cmake-build-debug/ParallelProgramming
myjob.*
cmake-build-debug/
